# Dataset files
data/*.csv
data/*.zip
data/*.dat
data/ml-*/

# Keep empty data folder in Git
!data/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
